@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);

html,body{
  margin:0;
  padding:0;
  font-family: 'Comfortaa';
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Top {
  display: block;
  background-size: no-repeat;
  background-image: url('./image/TopBackground.png');
  width: 100%;
}

.top-container {
  height: 500px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.top-column{
  margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-btn{
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.main-btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(142, 74, 30, .80);
    border-radius: 10rem;
    z-index: -2;
  }
.main-btn:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(60, 52, 47, 1);
  transition: all .3s;
  border-radius: 10rem;
  z-index: -1;
}
.main-btn:hover {
    color: #fff;
}
.main-btn:hover:before {
  width: 100%;
}

.App-header{
  border-bottom: 2px solid black;
  margin: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  align-items: center;
  position: fixed;
  background-color: white;
}

.headerImgs {
  display: flex;
  align-items: center;
  justify-content: end;
}

.left-part {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.Avatar {
    position: relative; 
    width: 25%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.input{
  border: 1px solid black;
  padding-left: 3%;
  max-width: 800px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 800px) {
    margin-left:3%;
  }
}
.inputmain {
  all: unset;
  border: 0ch;
  width: 95%;
  
  height: 39px;
  font-size: 20px;
  font-family:'Open Sans';
 text-align: center;
  
}
.BackInput{
  padding-right: 10px;
}
.inputmain::placeholder{
  position: relative;
  text-align: left;
  font-size: 20px;
  left: 3%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.upmenu{
  
  left: 60%;
 
 
  margin-top: 0;
  display: flex;
  justify-content: space-around;
}

.uptext{
  
  top: 0;
  margin-left: 3%;
  color: white;
  font-size: 20px;
}


.Top{

  left: 0;
  top: 0;
  background-image: url(./image/TopBackground.png);
  width: 100%;
  height: auto;
  z-index: 1;
  background-position: top right;
  background-size: cover;
}

.doc { 
  

  width: 100%;
  height: auto;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 3%;
  
  
}
.docbackground{
  background-color: rgba(42, 60, 99, 1);
  padding-left: 1%;
  padding-top:10%;
  padding-bottom: 15%;
  padding-right: 1%;
}
.docblock {
  width: 100%;
  height: 140%;
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-items: center;
  border-radius: 10px;

  
  
}
.title{
  
  
  height: 41px;
  top: 127px;
  text-align: center;
  
  font-size: 28px;
  
  
}
.doc_icon{
  margin-top: 28px;
  margin-left: 27px;
  width: 20%;
  height: auto;

}
.data{
  text-align: center;
}
.weare{
  position: absolute;

}
.profiles-back {
  padding-top: 5%;
  background-color: rgba(42, 60, 99, 1);
}
.profiles-container {
  
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color:white;
  clip-path: polygon(0 0, 80% 0, 100% 10%, 100% 100%, 20% 100%, 0 90%);
  padding-bottom: 40px;
  @media (max-width: 800px) {
    flex-direction: column;
    height: 300px;
    padding-top: 5%;
  }
}
.profiles-container__part {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 800px) {
    height: 100%;
    padding-top: 0;
    justify-content: start;
  };
  
  
}
.profiles-container__part-right {
  justify-content: space-around;
  padding-left: 10%;
  @media (max-width: 800px) {
    justify-content: start;
    padding-left: 0;
    padding-top: 0;
  }
}
.profile-card {
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  width: 300px;
  height: 90px;
  align-items: center;
  justify-content: start;
  @media (max-width: 800px) {
    width: 90%;
    height: 60px;
    margin-top: 5px;
  }
}

.profile-card__logo {
  background-color: rgba(42, 60, 99, 1);
  border-radius: 100%;
  width: 150px;
  height: 150px;
  border: 1px solid white;
  @media (max-width: 800px) {
    width: 100px;
    height: 100px;
  }
}
.profile-card__info {
  padding-left: 15%;
  display: flex;
  flex-direction: column;
}


.Avatar2 {
  width: 30%;
}

.burger__btn {
  width: 35px;
  height: 30px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}
.burger__btn:before {
  content: '';
  position: absolute;
  top: 0;
  width: 35px;
  background-color: black;
  height: 3px;
}
.burger__btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 35px;
  background-color: black;
  height: 3px;
}
.burger__btn span {
  position: absolute;
  top: 14px;
  width: 35px;
  background-color: black;
  height: 3px;
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 100px;
  left: 0;
  transform: translateX(-130%);
  transition: all 0.3sec;
  @media (max-width: 800) {
    top: 60px;
    
  }
}

.menu.active {
  transform: translateX(-30%);
}

.blur {
  width: 100vw;
  height: 100vh;
  left: 30%;
  backdrop-filter: blur(2px);
  position: absolute;
}

.menu__content {
  width: 30%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 3sec;
  @media (max-width: 800) {
    width: 100vw;
  }
}

.menu__header {
  padding: 10px;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
  width: 80%;
  text-align: center;
}

ul li a {
  color: black;
  text-decoration: none;
  text-align: center;
}

ul li {
  display: flex;
  align-items: center;
  margin: 10px;
  width: 80%;
  border-bottom: 1px solid black
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
} 

.main-btn {
  border: 3px solid black;
  background-color: white;
  top: 70%;
  cursor: pointer;
}

.main-title {
  color: white;
  width: 50%;
  font-size: 2rem;
}

.personal-section {
  background-color: white
}
.personal-container{
  height: 400px;
  margin: 3% 5%;
  margin: 3% 5%;
  border: 1px solid black;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 11% 1fr;
}

.profilePhoto {
  border-radius: 100%;
  margin-top: 15px;
  margin-left: 15px;
  width: 100%;
  height: 150px;
  background-color: gray;
}

.profile-info {
  display: grid;
  grid-template-rows: 10%;

}
.profile-info__name {
  font-size: 2rem;
  padding-top: 15px;
  margin-left: 20px;

}
.profile-info__documents {

}

.ol-profile li{
  padding-top: 10px;
  border-bottom: 1px solid black
}

a {
  text-decoration: none;
  color: white;
}

.futermain{
  background-color: rgba(42, 60, 99, 1);
  width: 100%;
  height: auto;
}
.WeebsText{
  color: white;
  font-size: 25px;
}
.Weebs{
  padding-left: 3%;
  padding-right: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.WeebsIcon{
  width: 40px;
  height: 40px;
}
.WeebsBlock{
  display: grid;
  grid-template-columns: 15% 85%;
  align-items: center;
}
.Adress{
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
}
.UnderButton{
  display: none;
}
.open{
  display: flex !important;
}
.downmenu{
  display: none;
}
@media screen and (width < 800px) {
  .Adress {
    display: none;
  }
  .WeebsBlock{
    display: none;
  }
  .Weebs{
    display: none;
  }

  .UnderButton{
    display: flex;
    background-color: rgba(84, 82, 201, 1);
    width: 80%;
    margin-left: 10%;
    height: auto;
    align-items: center;
    border-radius: 20px;
    
  }
  .MenuButton{
    all:none;
    margin-left: 3%;
    width: 90%;
    height: 100%;
    text-align: left;
    font-size: 25px;
    color: white;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    
  }
  .Arow{
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    text-align: center;
  }
  .partOfDownMenu{
    width: 90%;
    background-color: white;
    margin-left: 5%;
    border-radius: 20px;
    align-items: center;
    display: flex;
    margin-top: 3%;
  }
  .downmenu{
    background-color: rgba(84, 82, 201, 1);
    padding-top:3% ;
    padding-bottom: 3%;
  }
  .downmenu.active{
    display: flex;
  }
  .WeebsIcon{
    color: #000;
    padding-left: 5%;
  }
  .WeebsText{
    color: rgba(84, 82, 201, 1);
    padding-left: 5%;
  }
}